<body>
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Easther Pitches</h1>
      <div class= "col-md-7">
        <div class="shape">

        <img src="/static/images/idea.png" alt="login image">

</div>
      </div>
      <div class="col-md-5">
             <h3>Categories</h3>
      <br>
      <ul >
        <li id="card">
          <a href="/business">Business</a>
        </li>
        <li id="card">
          <a  href="/interview">Interview</a>
        </li>
        <li id="card">
          <a  href="/pickup">Pickup Lines</a>
        </li>
        <li id="card">
          <a href="/technology">Technology</a>
        </li>
      </ul>


     </div>
    </div>
</div>


{% endblock%}
</body>